/* Основные стили */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    padding: 20px;
}

/* Стили для карточек */
.card {
    background-color: #111;
    border: 2px solid #ff0000;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.8);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

/* Стили для горизонтально прокручиваемого контейнера */
.scroll-container {
    display: flex;
    overflow-x: auto;
    margin: 20px 0;
    padding-bottom: 10px;
    padding-right: 40%; /* Позволяет последней карточке выглядывать */
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container .card:nth-child(1) {
    flex: none;
    width: auto;
    margin-right: 20px;
    overflow: hidden;
}

.scroll-container .card:nth-child(2) {
    flex: none;
    width: 48%; /* Сделать карточку лидеров такой же ширины, как трекер привычек */
    height: 100%; /* Высота равна высоте карточки трекера привычек */
    margin-right: 20px;
    overflow: hidden;
}

.scroll-container .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Стили для кнопки выхода */
.exit-button {
    background-color: #111;
    border: 2px solid #ff0000;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.exit-button:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.8);
}

.exit-button img {
    width: 100%;
    height: auto;
    display: block;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .scroll-container .card {
        width: 70%; /* Регулируйте для мобильного вида */
    }

    .exit-button {
        font-size: 1em;
    }
}
